*.sqlite3
game/js/dist
game/js/package-lock.json
game/js/node_modules
game/js/yarn.lock
__pycache__/
.env
tunnel
*.swp
nginx
static/*
*.jpeg
build/
*.so
*.c
*.sqlite
.mypy_cache
helpers/rust_funcs/rust_funcs.egg-info
helpers/rust_funcs/target
helpers/rust_funcs/debug
helpers/rust_funcs/Cargo.lock
venv