Django==3.0.8
django-markdownify==0.8.1
psycopg2-binary==2.8.5
uWSGI==2.0.19.1
PyYAML==5.3.1
investpy==1.0.5
scikit-learn==0.24.2 
arch==4.15
Cython==0.29.24
numpy==1.21.2
git+https://github.com/calumrussell/qstrader.git@master
setuptools-rust==0.12.1
beautifulsoup4==4.10.0