<html>
  {% include "game/shared/head.html" %}
  {% include "game/shared/header.html" %}
  <body>
    <div class="home-link">
      <span><a href='/fortyannual'> 40 Year Annual Sim</a></span>
      Simulate portfolio allocation over an investing lifetime using our database of 2,000+ unique 4 decade periods over 16 countries. 
    </div>
    <div class="home-link">
      <span><a href='/portfolioshare'>Portfolio Share</a></span>
      Share and link a jpeg of your portfolio allocation.
    </div>
  </body>
</html>
