<html>
  {% include "game/shared/head.html" %}
  <body>
    {% include "game/shared/header.html" %}
    <div class="pure-g" id="home-wrapper">
        <div class="home-link pure-u-5-5">
          <a href='/portfoliosimulator'>
            <header>Portfolio simulator</header>
            <p>Simulate an investing lifetime</p>
          </a>
        </div>
      <div class="home-link pure-u-5-5">
        <a href='/portfolioshare'>
          <header>Portfolio Share</header>
          <p>Create a linkable image of your portfolio</p>
        </a>
      </div>
      <div class="home-link pure-u-5-5">
        <a href='/exposureanalysis'>
          <header>Exposure analysis</header>
          <p>Determine the exposure of an asset to risk</p>
        </a>
      </div>
      <div class="home-link pure-u-5-5">
        <a href='/backtest'>
          <header>Backtest</header>
          <p>Backtest a portfolio allocation</p>
        </a>
      </div>
    </div>
  </body>
</html>
