<html>
  {% include "game/shared/head.html" %}
  <body>
    {% include "game/shared/header.html" %}
    <div class="pure-g" id="home-wrapper">
        <div class="home-link pure-u-5-5">
          <a href='/fortyannual'>
            <header>40 Year Annual Sim</header>
            <p>Simulate an investing lifetime</p>
          </a>
        </div>
      <div class="home-link pure-u-5-5">
        <a href='/portfolioshare'>
          <header>Portfolio Share</header>
          <p>Create a linkable image of your portfolio</p>
        </a>
      </div>
      <div class="home-link pure-u-5-5">
        <a href='/riskattribution'>
          <header>Risk Attribution</header>
          <p>Attribute the risk of a portfolio</p>
        </a>
      </div>
 
    </div>
  </body>
</html>
